.input{
    border: none;
    border-bottom: 2px solid #3164B8;
    margin : 10px;
    font-family: "Ubuntu";
    font-style: normal;
    font-size: 20px;
}

.label{
    display: inline-block;
    width: 180px;
}